@import "nullstyle.scss";

$maxWidth: 2240;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@font-face {
    font-family: "fontello";
    src: url("../fonts/fontello.eot?58852432");
    src: url("../fonts/fontello.eot?58852432#iefix") format("embedded-opentype"),
        url("../fonts/fontello.woff2?58852432") format("woff2"), url("../fonts/fontello.woff?58852432") format("woff"),
        url("../fonts/fontello.ttf?58852432") format("truetype"),
        url("../fonts/fontello.svg?58852432#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?58852432#fontello') format('svg');
    }
  }
  */
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-phone:before {
    content: "\e800";
} /* '' */
.icon-facebook:before {
    content: "\f09a";
} /* '' */
.icon-instagram:before {
    content: "\f16d";
} /* '' */
.icon-whatsapp:before {
    content: "\f232";
} /* '' */

html {
    scroll-behavior: smooth;
}

body {
    font-size: 10px;
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    max-width: 1170px;
    padding: 0px 20px;
    margin: 0 auto;
}

.wrapper {
    .header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        transition: 0.5s;
        .header__body {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 130px;
            transition: 0.5s;
            .header__logo {
                letter-spacing: 5px;
                @include adaptiv-font(42, 24);
                color: #10e44c;
            }
            .header__burger {
                display: none;
            }
            .header__menu {
                .header__list {
                    display: flex;
                    position: relative;
                    li {
                        margin: 0px 0px 0px 30px;
                        .header__link {
                            text-transform: uppercase;
                            @include adaptiv-font(18, 13);
                            color: #fff;
                            letter-spacing: 2px;
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                bottom: -7px;
                                width: 100%;
                                height: 3px;
                                background: #10e44c;
                                transform: scale(0);
                                transition: 0.5s;
                            }
                            &:hover::before {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }
        &.sticky {
            background-color: rgba(0, 0, 0, 0.5);
            border-top: 3px solid #10e44c;
            border-bottom: 3px solid #10e44c;
            z-index: 999;
            .container {
                .header__body {
                    height: 100px;
                }
            }

            .header__menu {
                .header__list {
                    li {
                        .header__link {
                            color: #0f4a79;
                        }
                    }
                }
            }
        }
    }

    .hero {
        position: relative;
        height: 100vh;
        background-color: #111129;
        overflow: hidden;
        .square_1 {
            position: absolute;
            top: -250px;
            left: 0px;
            width: 1px;
            height: 1px;
            box-shadow: -0px 0px 3000px 600px rgba(168, 166, 75, 0.7);
            background-color: rgba(19, 174, 62, 0.849);
            z-index: 50;
            border-radius: 100%;
        }
        .square_2 {
            position: absolute;
            top: -250px;
            right: 0px;
            width: 1px;
            height: 1px;
            box-shadow: -0px 0px 3000px 600px rgba(19, 174, 62, 0.7);
            background-color: rgba(19, 174, 62, 0.849);
            z-index: 50;
            border-radius: 100%;
        }
        .square_3 {
            position: absolute;
            bottom: -250px;
            right: 0px;
            width: 1px;
            height: 1px;
            box-shadow: -0px 0px 3000px 600px rgba(4, 71, 19, 0.7);
            background-color: rgba(4, 71, 19, 0.849);
            z-index: 50;
            border-radius: 100%;
        }
        .square_4 {
            position: absolute;
            bottom: -250px;
            left: 0px;
            width: 1px;
            height: 1px;
            box-shadow: -0px 0px 3000px 600px rgba(68, 39, 79, 0.7);
            background-color: rgba(19, 174, 62, 0.849);
            z-index: 50;
            border-radius: 100%;
        }
        .hero__row {
            display: flex;
            flex-wrap: wrap;
            z-index: 99;
            position: relative;
            .hero__col_6 {
                width: 50%;
                .hero__item {
                    padding-top: 210px;
                    .hero__body {
                        display: block;
                        position: relative;
                        .hero__title {
                            text-transform: uppercase;
                            letter-spacing: 15px;
                            @include adaptiv-font(48, 13);
                            padding-top: 80px;
                            color: #fff;
                        }
                        .hero__subtitle {
                            letter-spacing: 5px;
                            @include adaptiv-font(20, 13);
                            padding-top: 30px;
                            color: #fff;
                        }
                        .hero__btn {
                            display: inline-flex;
                            text-transform: uppercase;
                            letter-spacing: 5px;
                            @include adaptiv-font(20, 13);
                            background: linear-gradient(120deg, #10e44b, #55a87a, #a462b1);
                            padding: 15px 90px;
                            margin-top: 70px;
                            color: #fff;
                            line-height: 20px;
                            img {
                                margin-left: 10px;
                            }
                        }
                        .hero__number {
                            @include adaptiv-font(36, 24);
                            padding-top: 100px;
                            color: #10e44b;
                        }
                        .hero__text {
                            @include adaptiv-font(20, 13);
                            padding-top: 30px;
                            color: #fff;
                            letter-spacing: 5px;
                            span {
                                color: #10e44b;
                            }
                        }
                    }
                    .hero__image {
                        margin-bottom: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .about {
        padding: 120px 0 120px;
        background-color: #161635;
        .about__text {
            @include adaptiv-font(48, 13);
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
            color: #fff;
        }
        .about__subtext {
            @include adaptiv-font(20, 13);
            text-align: center;
            letter-spacing: 3px;
            padding-top: 50px;
            padding-bottom: 80px;
            color: #fff;
            span {
                color: #10e44b;
                text-transform: uppercase;
                letter-spacing: 0;
            }
        }
        .about__row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            .about__col_4 {
                width: 33.3333%;
                padding: 0 15px;
                .about__item {
                    height: 140px;
                    padding: 0 20px;
                    .about__body {
                        display: flex;
                        align-items: center;
                        position: relative;
                        top: 70px;
                        transform: translate(0, -50%);
                        justify-content: space-evenly;
                        img {
                            height: 70px;
                        }
                        .about__title {
                            text-transform: uppercase;
                            @include adaptiv-font(20, 13);
                            padding-left: 15px;
                            color: #fff;
                            span {
                                color: #10e44b;
                            }
                        }
                    }
                }
                .item_1 {
                    border: 1px dashed rgb(255, 251, 0);
                }
                .item_2 {
                    border: 1px dashed rgb(0, 255, 21);
                }
                .item_3 {
                    border: 1px dashed rgb(255, 0, 0);
                }
            }
        }
    }
    .start {
        padding: 120px 0 140px;
        background-color: #111129;
        background-image: url("../images/start.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 95%;
        .start__row {
            display: flex;
            flex-wrap: wrap;

            .start__col_6 {
                width: 50%;
                .start__item {
                    .start__title {
                        text-transform: uppercase;
                        line-height: 60px;
                        @include adaptiv-font(48, 13);
                        letter-spacing: 3px;
                        color: #fff;
                        padding-top: 50px;
                    }
                    .timer {
                        color: #fff;
                        padding-top: 150px;
                        .timer__items {
                            display: flex;
                            font-size: 48px;
                        }
                        .timer__item {
                            position: relative;
                            min-width: 60px;
                            margin-left: 10px;
                            margin-right: 10px;
                            padding-bottom: 15px;
                            text-align: center;
                            color: #10e44b;
                        }
                        .timer__item::before {
                            content: attr(data-title);
                            display: block;
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            transform: translateX(-50%);
                            font-size: 14px;
                            color: #fff;
                        }
                        .timer__item:not(:last-child)::after {
                            content: ":";
                            position: absolute;
                            right: -15px;
                        }
                    }

                    .start__timer {
                    }
                    .start__image {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .road {
        padding: 120px 0 240px;
        background-color: rgba(0, 0, 0, 0.411);
        background-color: #161635;
        .road__title {
            @include adaptiv-font(48, 13);
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            span {
                color: #10e44b;
            }
        }
        .road__slider {
            position: relative;
            .slider__body {
                padding-top: 80px;
                opacity: 0.4;
                transition: 0.3s;
                .slider__title {
                    @include adaptiv-font(20, 13);
                    text-align: center;
                    color: #fff;
                    height: 50px;
                    padding: 0 12%;
                }
                .slider__image {
                    padding: 0px 0px 60px 0px;
                    position: relative;
                    top: 40px;
                    img:first-child {
                        position: absolute;
                        top: -16px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 32px;
                        height: 32px;
                    }
                    img:nth-child(2) {
                        width: 100%;
                    }
                }
                .slider__year {
                    @include adaptiv-font(24, 13);
                    text-align: center;
                    color: #fff;
                }
                .slider__subtitle {
                    padding-top: 5px;
                    @include adaptiv-font(24, 13);
                    text-align: center;
                    color: #fff;
                }
                &.slick-center {
                    opacity: 1;
                }
            }

            .slick-arrow {
                position: absolute;
                top: 123%;
                z-index: 10;
                font-size: 0;
                width: 148px;
                height: 64px;
                border: 1px solid rgba(255, 255, 255, 0.16);
                &:hover {
                    border: 1px solid #10e44b;
                }
                &.slick-prev {
                    left: 40%;
                    transform: translateX(-50%);
                    background: url("../images/left.svg") 0 0 / 100% no-repeat;
                    transition: 0.5s;
                    &:hover {
                        background: url("../images/left_2.svg") 0 0 / 100% no-repeat;
                    }
                }
                &.slick-next {
                    right: 40%;
                    transform: translateX(50%);
                    background: url("../images/right.svg") 0 0 / 100% no-repeat;
                    transition: 0.5s;
                    &:hover {
                        background: url("../images/right_2.svg") 0 0 / 100%no-repeat;
                    }
                }
            }
            .slick-slider {
            }
            .slick-list {
                overflow: hidden;
            }
            .slick-track {
                display: flex;
            }

            .slick-slide {
            }
            .slick-slide {
                &.slick-sctive {
                }
            }
            .slick-slide {
                &.slick-currant {
                }
            }
            .slick-slide {
                &.slick-center {
                }
            }

            .slick-arrow {
            }
            .slick-arrow {
                &.slick-prev {
                }
            }
            .slick-arrow {
                &.slick-next {
                }
            }
            .slick-arrow {
                &.slick-disabled {
                }
            }

            .slick-dots {
            }
            .slick-dots {
                li {
                }
            }
            .slick-dots {
                button {
                }
            }
        }
    }

    .telegram {
        padding: 80px 0 80px;
        background-color: #0f101f;
        background-image: url("../images/telegram.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 95%;
        .telegram__row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .telegram__col_6 {
                width: 50%;
                .telegram__item {
                    .telegram__image {
                    }
                    .telegram__title {
                        color: #fff;
                        @include adaptiv-font(48, 13);
                        text-transform: uppercase;
                        padding: 0px 70px 60px 0px;
                        letter-spacing: 5px;
                        line-height: 45px;
                        span {
                            color: #10e44b;
                        }
                    }
                    .telegram__subtitle {
                        color: #fff;
                        @include adaptiv-font(20, 13);
                        letter-spacing: 2px;
                        line-height: 35px;
                    }
                    .telegram__btn {
                        display: inline-flex;
                        color: #fff;
                        @include adaptiv-font(20, 13);
                        text-transform: uppercase;
                        padding: 15px 70px;
                        line-height: 20px;
                        background: linear-gradient(120deg, #10e44b, #55a87a, #a462b1);
                        letter-spacing: 5px;
                        margin-top: 60px;
                        img {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    .course {
        padding: 80px 0 80px;
        background-color: #0f101f;
        .course__title {
            color: #fff;
            @include adaptiv-font(48, 13);
            text-transform: uppercase;
            letter-spacing: 5px;
            text-align: center;
            span {
                color: #10e44b;
            }
        }
        .course__subtitle {
            color: #fff;
            @include adaptiv-font(20, 13);
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 35px;
            text-align: center;
            padding-top: 50px;
        }
        .course__image {
            padding-top: 40px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .buy {
        padding: 50px 0 20px;
        background-color: #161635;
        .buy__row {
            display: flex;
            flex-wrap: wrap;
            .buy__col_7 {
                width: 58.3333325%;
                .buy__title {
                    color: #fff;
                    @include adaptiv-font(48, 13);
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    padding-top: 60px;
                }
                .buy__subtitle {
                    color: #fff;
                    @include adaptiv-font(20, 13);
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    line-height: 35px;
                    padding-top: 30px;
                }
                .buy__btn {
                    display: inline-flex;
                    color: #fff;
                    @include adaptiv-font(20, 13);
                    text-transform: uppercase;
                    padding: 15px 70px;
                    line-height: 20px;
                    background: linear-gradient(120deg, #10e44b, #55a87a, #a462b1);
                    letter-spacing: 5px;
                    margin-top: 60px;
                    img {
                        margin-left: 10px;
                    }
                }
            }
            .buy__col_5 {
                width: 41.3333375%;
                .buy__item {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .team {
        padding: 100px 0 100px;
        background-color: #0f101f;
        background-image: url("../images/team.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 95%;
        .team__row {
            display: flex;
            flex-wrap: wrap;
            .team__col_6 {
                width: 50%;
                .team__item {
                    .team__images {
                        display: flex;
                        .team__image_1 {
                            img {
                                width: 100%;
                                height: 100%;
                            }
                            .team__name {
                                color: #fff;
                                @include adaptiv-font(19, 13);
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                padding-top: 20px;
                            }
                            .team__founder {
                                color: #10e44b;
                                @include adaptiv-font(15, 13);
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                padding-top: 10px;
                            }
                        }
                        .team__image_2 {
                            padding-left: 40px;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                            .team__name {
                                color: #fff;
                                @include adaptiv-font(19, 13);
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                padding-top: 20px;
                            }
                            .team__founder {
                                color: #10e44b;
                                @include adaptiv-font(15, 13);
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                padding-top: 10px;
                            }
                        }
                    }
                    .team__body {
                        padding-left: 80px;
                        .team__title {
                            color: #fff;
                            @include adaptiv-font(48, 13);
                            text-transform: uppercase;
                            letter-spacing: 5px;
                            padding-top: 50px;
                            span {
                                color: #10e44b;
                            }
                        }
                        .team__subtitle {
                            color: #fff;
                            @include adaptiv-font(20, 13);
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            line-height: 25px;
                            padding-top: 30px;
                        }
                    }
                }
            }
        }
    }

    .contact {
        padding: 80px 0 80px;
        background-color: #161635;
        .contact__title {
            @include adaptiv-font(42, 13);
            text-align: center;
            color: #10e44b;
        }
        .contact__body {
            padding-top: 50px;
            display: flex;
            justify-content: center;
            @include adaptiv-font(24, 13);
            color: #fff;
            .contact__phone_1 {
                padding-right: 25px;
                &:hover {
                    color: #10e44b;
                }
            }
            .contact__phone_2 {
                padding-right: 25px;
                &:hover {
                    color: #10e44b;
                }
            }
        }
        .contact__net {
            padding-top: 50px;
            display: flex;
            justify-content: center;
            @include adaptiv-font(24, 13);
            color: #fff;

            .contact__net_1 {
                padding-right: 50px;
                &:hover {
                    color: #10e44b;
                }
            }
            .contact__net_2 {
                &:hover {
                    color: #10e44b;
                }
            }
            .contact__net_3 {
                padding-left: 50px;
                &:hover {
                    color: #10e44b;
                }
            }
        }
    }
}

@import "media.scss";
